absl-py==2.5.0
alienpy @ file:///local/workspace/DailyBuilds/DailyO2-ubuntu2404/daily-tags.DzWoqpea3l/SOURCES/xjalienfs/1.7.0/1.7.0
anyio==4.14.2
argon2-cffi==25.1.0
argon2-cffi-bindings==25.1.0
arrow==1.4.0
asttokens==3.0.2
astunparse==1.6.3
async-lru==2.3.0
async-stagger==0.3.1
attrs==26.1.0
awkward==2.12.0
awkward0==0.15.5
awkward_cpp==55
babel==2.18.0
backcall==0.2.0
backoff==2.2.1
beautifulsoup4==4.15.0
black==26.5.1
bleach==6.4.0
boost-histogram==1.7.2
cachetools==7.1.7
certifi==2026.6.17
cffi==2.1.0
charset-normalizer==3.4.9
click==8.4.2
cloudpickle==3.1.2
comm==0.2.3
contourpy==1.3.2
cramjam==2.11.0
cryptography==49.0.0
cycler==0.12.1
Cython==3.2.8
dask==2023.2.0
dask-jobqueue==0.8.2
debugpy==1.8.21
decorator==5.3.1
defusedxml==0.7.1
Deprecated==1.3.1
distributed==2023.2.0
distro==1.9.0
dryable==1.0.5
entrypoints==0.4
exceptiongroup==1.3.1
executing==2.2.1
fastjsonschema==2.21.2
flatbuffers==25.12.19
fonttools==4.63.0
fqdn==1.5.1
fsspec==2026.6.0
gast==0.7.0
gnureadline==8.3.3
google-auth==2.56.0
google-auth-oauthlib==1.4.0
google-pasta==0.2.0
greenlet==3.5.4
grpcio==1.82.1
h11==0.16.0
h5py==3.14.0
hist==2.11.0
histoprint==2.7.0
httpcore==1.0.9
httpx==0.28.1
humanfriendly==10.0
idna==3.18
iminuit==2.32.0
importlib_metadata==9.0.0
ipykernel==7.3.0
ipython==8.39.0
ipython-genutils==0.2.0
ipywidgets==7.4.2
isoduration==20.11.0
jacobi==0.9.2
jedi==0.20.0
Jinja2==3.1.6
joblib==1.5.3
json5==0.15.0
jsonpointer==3.1.1
jsonschema==4.26.0
jsonschema-specifications==2025.9.1
jupyter==1.1.1
jupyter-console==6.4.4
jupyter-events==0.12.1
jupyter-lsp==2.3.1
jupyter_builder==1.2.2
jupyter_client==8.9.1
jupyter_core==5.9.1
jupyter_server==2.20.0
jupyter_server_terminals==0.5.4
jupyterlab==4.6.2
jupyterlab-vim==4.1.4
jupyterlab_pygments==0.3.0
jupyterlab_server==2.28.0
jupyterlab_widgets==3.0.16
keras==3.12.4
kiwisolver==1.5.0
lark==1.3.1
libclang==18.1.1
locket==1.0.0
Markdown==3.10.2
markdown-it-py==4.2.0
MarkupSafe==3.0.3
matplotlib==3.10.9
matplotlib-inline==0.2.2
mdurl==0.1.2
metakernel==0.32.0
mistune==3.3.3
ml_dtypes==0.5.4
msgpack==1.2.1
mypy_extensions==1.1.0
namex==0.1.0
nbclassic==1.3.3
nbclient==0.11.0
nbconvert==7.17.1
nbformat==5.10.4
nest-asyncio==1.6.0
nest-asyncio2==1.7.2
notebook==7.6.1
notebook_shim==0.2.4
numpy==2.2.6
nvidia-nccl-cu12==2.30.7
oauthlib==3.3.1
odfpy==1.4.1
opt_einsum==3.4.0
optree==0.19.1
overrides==7.7.0
packaging==26.2
pandas==2.3.3
pandocfilters==1.5.1
parso==0.8.7
partd==1.4.2
pathspec==1.1.1
pdg==2026.0
pexpect==4.9.0
pickleshare==0.7.5
pillow==12.3.0
pip3-autoremove==2.0.1
platformdirs==4.10.1
ploomber-core==0.2.27
ploomber-extension==0.1.1
posthog==7.26.0
prometheus_client==0.25.0
prompt_toolkit==3.0.53
protobuf==7.35.1
psutil==5.9.0
ptyprocess==0.7.0
pure_eval==0.2.3
pyasn1==0.6.4
pyasn1_modules==0.4.2
pycparser==3.0
Pygments==2.20.0
pyOpenSSL==26.3.0
pyparsing==3.3.2
python-dateutil==2.9.0.post0
python-json-logger==4.1.0
pytokens==0.4.1
pytz==2026.2
PyYAML==6.0.1
pyzmq==27.1.0
referencing==0.37.0
requests==2.34.2
requests-oauthlib==2.0.0
responses==0.10.6
rfc3339-validator==0.1.4
rfc3986-validator==0.1.1
rfc3987-syntax==1.1.0
rich==15.0.0
rpds-py==0.30.0
scikit-learn==1.3.0
scipy==1.15.3
SCons==4.1.0
seaborn==0.13.2
Send2Trash==2.1.0
six==1.17.0
sklearn-evaluation==0.8.1
sortedcontainers==2.4.0
soupsieve==2.8.4
SQLAlchemy==2.0.51
stack-data==0.6.3
tabulate==0.10.0
tblib==3.2.2
tensorboard==2.15.2
tensorboard-data-server==0.7.2
tensorflow==2.21.0
tensorflow-estimator==2.15.0
tensorflow-io-gcs-filesystem==0.37.1
termcolor==3.3.0
terminado==0.18.1
threadpoolctl==3.6.0
tinycss2==1.5.1
tomli==2.4.1
toolz==1.1.0
tornado==6.5.7
traitlets==5.15.1
typing_extensions==4.16.0
tzdata==2026.3
uhi==1.1.1
uproot==5.7.5
uproot3==3.14.4
uproot3-methods==0.10.1
uri-template==1.3.0
urllib3==2.7.0
wcwidth==0.8.2
webcolors==25.10.0
webencodings==0.5.1
websocket-client==1.9.0
websockets==16.1.1
Werkzeug==3.1.8
widgetsnbextension==3.4.2
wrapt==1.14.2
xgboost==1.7.5
xmltodict==1.0.4
xrootd @ file:///local/workspace/DailyBuilds/DailyO2-ubuntu2404/daily-tags.DzWoqpea3l/BUILD/c4e145c6309baa0845ac4a2e1e15e514a1188ab1/XRootD/bindings/python
xxhash==3.8.1
zict==3.0.0
zipp==4.1.0
