absl-py==2.4.0
alienpy @ file:///local/workspace/DailyBuilds/DailyO2-ubuntu2404/daily-tags.V7Kbs1b9X0/SOURCES/xjalienfs/1.7.0/1.7.0
anyio==4.12.1
argon2-cffi==25.1.0
argon2-cffi-bindings==25.1.0
arrow==1.4.0
asttokens==3.0.1
astunparse==1.6.3
async-lru==2.0.5
async-stagger==0.3.1
attrs==25.4.0
awkward==2.8.11
awkward0==0.15.5
awkward_cpp==51
babel==2.17.0
backcall==0.2.0
backoff==2.2.1
beautifulsoup4==4.14.3
black==26.3.1
bleach==6.3.0
boost-histogram==1.6.1
cachetools==6.2.4
certifi==2026.2.25
cffi==2.0.0
charset-normalizer==3.4.6
click==8.3.1
cloudpickle==3.1.2
comm==0.2.3
contourpy==1.3.2
cramjam==2.11.0
cryptography==46.0.6
cycler==0.12.1
Cython==3.2.4
dask==2023.2.0
dask-jobqueue==0.8.2
debugpy==1.8.19
decorator==5.2.1
defusedxml==0.7.1
Deprecated==1.3.1
distributed==2023.2.0
distro==1.9.0
dryable==1.0.5
exceptiongroup==1.3.1
executing==2.2.1
fastjsonschema==2.21.2
flatbuffers==25.12.19
fonttools==4.61.1
fqdn==1.5.1
fsspec==2026.1.0
gast==0.7.0
gnureadline==8.3.3
google-auth==2.49.1
google-auth-oauthlib==1.3.1
google-pasta==0.2.0
greenlet==3.3.0
grpcio==1.80.0
h11==0.16.0
h5py==3.16.0
hist==2.9.1
histoprint==2.6.0
httpcore==1.0.9
httpx==0.28.1
humanfriendly==10.0
idna==3.11
importlib_metadata==8.7.1
ipykernel==7.1.0
ipython==8.38.0
ipython-genutils==0.2.0
ipywidgets==8.1.8
isoduration==20.11.0
jedi==0.19.2
Jinja2==3.1.6
joblib==1.5.3
json5==0.13.0
jsonpointer==3.0.0
jsonschema==4.26.0
jsonschema-specifications==2025.9.1
jupyter==1.1.1
jupyter-console==6.6.3
jupyter-events==0.12.0
jupyter-lsp==2.3.0
jupyter_client==8.8.0
jupyter_core==5.9.1
jupyter_server==2.17.0
jupyter_server_terminals==0.5.3
jupyterlab==4.5.2
jupyterlab-vim==4.1.4
jupyterlab_pygments==0.3.0
jupyterlab_server==2.28.0
jupyterlab_widgets==3.0.16
keras==2.15.0
kiwisolver==1.4.9
lark==1.3.1
libclang==18.1.1
locket==1.0.0
Markdown==3.10.2
markdown-it-py==4.0.0
MarkupSafe==3.0.3
matplotlib==3.10.8
matplotlib-inline==0.2.1
mdurl==0.1.2
metakernel==0.20.14
mistune==3.2.0
ml-dtypes==0.3.2
msgpack==1.1.2
mypy_extensions==1.1.0
nbclient==0.10.4
nbconvert==7.16.6
nbformat==5.10.4
nest-asyncio==1.6.0
notebook==7.5.2
notebook_shim==0.2.4
numpy==2.2.6
oauthlib==3.3.1
odfpy==1.4.1
opt_einsum==3.4.0
overrides==7.7.0
packaging==25.0
pandas==2.3.3
pandocfilters==1.5.1
parso==0.8.5
partd==1.4.2
pathspec==1.0.4
pdg==0.2.2
pexpect==4.9.0
pickleshare==0.7.5
pillow==12.1.0
pip3-autoremove==2.0.1
platformdirs==4.5.1
ploomber-core==0.2.27
posthog==7.9.12
prometheus_client==0.23.1
prompt_toolkit==3.0.52
protobuf==4.25.9
psutil==7.2.1
ptyprocess==0.7.0
pure_eval==0.2.3
pyasn1==0.6.3
pyasn1_modules==0.4.2
pycparser==3.0
Pygments==2.20.0
pyOpenSSL==26.0.0
pyparsing==3.3.1
python-dateutil==2.9.0.post0
python-json-logger==4.0.0
pytokens==0.4.1
pytz==2026.1.post1
PyYAML==6.0.3
pyzmq==27.1.0
referencing==0.37.0
requests==2.33.1
requests-oauthlib==2.0.0
responses==0.10.6
rfc3339-validator==0.1.4
rfc3986-validator==0.1.1
rfc3987-syntax==1.1.0
rich==14.3.3
rpds-py==0.30.0
scikit-learn==1.3.0
scipy==1.9.3
SCons==4.1.0
seaborn==0.13.2
Send2Trash==2.0.0
six==1.17.0
sklearn-evaluation==0.8.1
sortedcontainers==2.4.0
soupsieve==2.8.1
SQLAlchemy==2.0.45
stack-data==0.6.3
tabulate==0.10.0
tblib==3.2.2
tensorboard==2.15.2
tensorboard-data-server==0.7.2
tensorflow==2.15.1
tensorflow-estimator==2.15.0
tensorflow-io-gcs-filesystem==0.37.1
termcolor==3.3.0
terminado==0.18.1
threadpoolctl==3.6.0
tinycss2==1.4.0
tomli==2.4.0
toolz==1.1.0
tornado==6.5.4
traitlets==5.14.3
typing_extensions==4.15.0
tzdata==2025.3
uhi==1.0.0
uproot==5.6.9
uproot3==3.14.4
uproot3-methods==0.10.1
uri-template==1.3.0
urllib3==2.6.3
wcwidth==0.2.14
webcolors==25.10.0
webencodings==0.5.1
websocket-client==1.9.0
websockets==16.0
Werkzeug==3.1.7
widgetsnbextension==4.0.15
wrapt==2.1.1
xgboost==1.7.5
xmltodict==1.0.4
xrootd @ file:///local/workspace/DailyBuilds/DailyO2-ubuntu2404/daily-tags.V7Kbs1b9X0/BUILD/f4bb10d798b297e90fc0dc0b41386e591ba1d68a/XRootD/bindings/python
xxhash==3.6.0
zict==3.0.0
zipp==3.23.0
